build --announce_rc

# bzlmod
build --enable_bzlmod
build --registry=https://bcr.bazel.build
build --registry=https://raw.githubusercontent.com/eomii/bazel-eomii-registry/main/
build --registry=https://raw.githubusercontent.com/curoky/bazel-curoky-registry/master/

# optimize options
build --remote_download_toplevel
build --spawn_strategy=local
build --experimental_remote_cache_compression
build --experimental_remote_build_event_upload=minimal
build --noslim_profile --experimental_profile_include_target_label --experimental_profile_include_primary_output
build --nolegacy_important_outputs

# compiler options
build --dynamic_mode=off
build --compilation_mode=dbg
build --cxxopt=-std=c++17 --host_cxxopt=-std=c++17

# opthers
build --check_visibility=false

build:ci --bes_results_url=https://app.buildbuddy.io/invocation/
build:ci --bes_backend=grpcs://remote.buildbuddy.io
build:ci --remote_cache=grpcs://remote.buildbuddy.io
build:ci --remote_timeout=3600
build:ci --remote_header=x-buildbuddy-api-key="${BUILDBUDDY_API}"
