name: tensorflow source build

on:
  push:
    paths:
      - .github/workflows/tensorflow-source-build.yaml
  workflow_dispatch:

jobs:
  tf2_5:
    defaults:
      run:
        working-directory: tensorflow
    runs-on: ubuntu-20.04
    steps:
      - uses: jlumbroso/free-disk-space@main
      - uses: actions/checkout@v4
      - uses: bazelbuild/setup-bazelisk@v3
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - uses: ./github-actions/setup-cuda
        with:
          cuda_version: '11.4'
          enable_cudnn: 'true'
          cudnn_version: '8'

      - run: git clone --recurse-submodules --depth=1 -b v2.5.3 https://github.com/tensorflow/tensorflow
        working-directory: tensorflow

      - name: setup bazel remote cache
        run: |
          cat ../../bazel/with-buildbuddy/.bazelrc >> .bazelrc
          BUILDBUDDY_API=${{ secrets.BUILDBUDDY_API }} envsubst < .bazelrc | tee .bazelrc.new
          mv -f .bazelrc.new .bazelrc
        working-directory: tensorflow/tensorflow

      - name: patch TF_CUDA_COMPUTE_CAPABILITIES
        run: echo 'build --repo_env=TF_CUDA_COMPUTE_CAPABILITIES="compute_75"' >> .bazelrc
        working-directory: tensorflow/tensorflow

      - run: bazel build //tensorflow/tools/pip_package:build_pip_package --repo_env=WHEEL_NAME=tensorflow --config=cuda --config=noaws --config=nogcp --config=nohdfs --config=nonccl --config=remote_cache
        working-directory: tensorflow/tensorflow

      - uses: mxschmitt/action-tmate@v3
        if: ${{ failure() && github.event_name == 'workflow_dispatch' }}
        timeout-minutes: 30

  tf2_15:
    defaults:
      run:
        working-directory: tensorflow
    runs-on: ubuntu-22.04
    steps:
      - uses: jlumbroso/free-disk-space@main
      - uses: actions/checkout@v4
      - uses: bazelbuild/setup-bazelisk@v3
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - uses: ./github-actions/setup-cuda
        with:
          cuda_version: '12.5'
          enable_cudnn: 'true'
          cudnn_version: '8'

      - run: git clone --recurse-submodules --depth=1 -b v2.15.1 https://github.com/tensorflow/tensorflow
        working-directory: tensorflow

      - name: setup bazel remote cache
        run: |
          cat ../../bazel/with-buildbuddy/.bazelrc >> .bazelrc
          BUILDBUDDY_API=${{ secrets.BUILDBUDDY_API }} envsubst < .bazelrc | tee .bazelrc.new
          mv -f .bazelrc.new .bazelrc
        working-directory: tensorflow/tensorflow

      - name: patch TF_CUDA_COMPUTE_CAPABILITIES
        run: echo 'build --repo_env=TF_CUDA_COMPUTE_CAPABILITIES="compute_90"' >> .bazelrc
        working-directory: tensorflow/tensorflow

      - run: bazel build //tensorflow/tools/pip_package:build_pip_package --repo_env=WHEEL_NAME=tensorflow --config=cuda --config=noaws --config=nogcp --config=nohdfs --config=nonccl --config=remote_cache
        working-directory: tensorflow/tensorflow

      - uses: mxschmitt/action-tmate@v3
        if: ${{ failure() && github.event_name == 'workflow_dispatch' }}
        timeout-minutes: 30

  tf2_16:
    defaults:
      run:
        working-directory: tensorflow
    runs-on: ubuntu-22.04
    steps:
      - uses: jlumbroso/free-disk-space@main
      - uses: actions/checkout@v4
      - uses: bazelbuild/setup-bazelisk@v3
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - uses: ./github-actions/setup-cuda
        with:
          cuda_version: '12.5'
          enable_cudnn: 'true'
          cudnn_version: '8'

      - run: git clone --recurse-submodules --depth=1 -b v2.16.1 https://github.com/tensorflow/tensorflow
        working-directory: tensorflow

      - name: setup bazel remote cache
        run: |
          cat ../../bazel/with-buildbuddy/.bazelrc >> .bazelrc
          BUILDBUDDY_API=${{ secrets.BUILDBUDDY_API }} envsubst < .bazelrc | tee .bazelrc.new
          mv -f .bazelrc.new .bazelrc
        working-directory: tensorflow/tensorflow

      - name: patch TF_CUDA_COMPUTE_CAPABILITIES
        run: echo 'build --repo_env=TF_CUDA_COMPUTE_CAPABILITIES="compute_90"' >> .bazelrc
        working-directory: tensorflow/tensorflow

      - run: bazel build //tensorflow/tools/pip_package:build_pip_package --repo_env=WHEEL_NAME=tensorflow --config=cuda --config=noaws --config=nogcp --config=nohdfs --config=nonccl --config=remote_cache
        working-directory: tensorflow/tensorflow

      - run: bazel build //tensorflow/tools/pip_package/v2:wheel --repo_env=WHEEL_NAME=tensorflow --config=cuda --config=noaws --config=nogcp --config=nohdfs --config=nonccl --config=remote_cache
        working-directory: tensorflow/tensorflow

      - uses: mxschmitt/action-tmate@v3
        if: ${{ failure() && github.event_name == 'workflow_dispatch' }}
        timeout-minutes: 30
