name: tensorflow source build Docker

on:
  push:
    paths:
      - .github/workflows/tensorflow-source-build-docker.yaml
      - tensorflow/source-build/**
  workflow_dispatch:

jobs:
  tf2_5:
    runs-on: ubuntu-latest
    steps:
      - uses: jlumbroso/free-disk-space@main
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v2
        with:
          username: curoky
          password: ${{ secrets.DOCKER_TOKEN }}

      - uses: docker/build-push-action@v5
        with:
          context: .
          file: tensorflow/source-build/tf_2_5/cu11_4.Dockerfile
          push: true
          tags: curoky/infra-image:tensorflow2.5-cu11.4-cudnn8
          cache-from: type=registry,curoky/infra-image:cache_tensorflow2.5-cu11.4-cudnn8
          cache-to: type=registry,curoky/infra-image:cache_tensorflow2.5-cu11.4-cudnn8,mode=max
